// colors
$c-primary: #551ab8;
$c-secondary: #2c3e50;
$c-tertiary: #ccc;
$c-border: #2c3e50;
$c-nav-link: $c-border;

// responsive
@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// breakpoints
$bk-navbar: 600px;

// typography
$ff-sans: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
$ff-serif: 'PT Serif', serif;

.nuxt-content {
  strong {
    font-style: italic;
  }
  blockquote {
    font-style: italic;
    @apply ml-3;
    @apply px-3;
    border-left: solid 2px $c-primary;
  }
  a {
    color: $c-primary;
    font-family: $ff-sans;
    @apply font-semibold;
    @apply text-lg;
    @apply underline;
    letter-spacing: 1px;
  }
  a[target='_blank']:after {
    content: '↑';
  }
  h2 {
    color: $c-secondary;
    font-family: $ff-sans;
    @apply font-bold;
    @apply mt-5 mb-5;
    @apply pb-3;
    @apply text-2xl;
    line-height: 1.3;
  }
  h3 {
    color: $c-secondary;
    font-family: $ff-sans;
    @apply font-bold;
    @apply mt-5 mb-5;
    @apply pb-3;
    @apply text-xl;
    line-height: 1.3;
  }
  p,
  li {
    line-height: 1.7;
    font-size: 16px;
    font-family: $ff-sans;
    @include breakpoint(600px) {
      font-size: 18px;
    }
  }
  p {
    @apply mb-4;
  }
  ul {
    list-style: circle;
    margin-left: 1em;
  }
  ol {
    @apply list-decimal;
    @apply list-inside;
    @apply mb-4;
  }
}
