// colors
$c-primary: #551ab8;
$c-secondary: #2c3e50;
$c-tertiary: #ccc;
$c-border: #2c3e50;
$c-nav-link: $c-border;

// responsive
@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

// breakpoints
$bk-navbar: 600px;

// typography
$ff-sans: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;
$ff-serif: 'PT Serif', serif;
