body {
  font-family: $ff-sans;
}

.title {
  color: $c-secondary;
  font-family: $ff-sans;
  @apply font-semibold;
  @apply text-3xl;
  letter-spacing: 1px;
}

.subtitle {
  color: $c-secondary;
  font-family: $ff-sans;
  @apply font-semibold;
  @apply text-2xl;
  letter-spacing: 1px;
}

.tag {
  color: $c-secondary;
  font-family: $ff-sans;
  @apply font-semibold;
  @apply text-lg;
  letter-spacing: 1px;
}
